@media (min-width: 1960px) and (max-width: 3680px) {
  .startCard {
    padding: 84px 108px;
  }

  .pillBtn,
  .startBtn,
  .settingsBtn,
  .closeBtn {
    font-size: 24px;
  }

  .startTitle {
    font-size: 50px;
    margin: 0;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .startCard {
    padding: 94px 118px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0;
    padding: 0px;
    font-size: 38px;
  }

  .controlsImg {
    width: 450px;
    height: 260px;
  }

  .controlsGrid {
    margin-top: 20px;
  }

  .settingsActions {
    margin-top: 50px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 40px;
    font-size: 38px;
  }

  input[type="checkbox" i] {
    transform: scale(2.6);
  }

  canvas {
    background-color: black;
    width: 1450px;
  }
}

@media (min-width: 1440px) and (max-width: 1960px) {
  .startCard {
    padding: 84px 108px;
  }

  .pillBtn,
  .startBtn,
  .settingsBtn,
  .closeBtn {
    font-size: 18px;
  }

  .startTitle {
    font-size: 44px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 5px;
  }

  .startCard {
    padding: 54px 38px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 30px;
    font-size: 38px;
  }

  .controlsImg {
    width: 400px;
    height: 250px;
  }

  .controlsGrid {
    margin-top: 20px;
  }

  .settingsActions {
    margin-top: 50px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 40px;
    font-size: 38px;
  }

  input[type="checkbox" i] {
    transform: scale(2.2);
  }

  canvas {
    background-color: black;
    width: 800px;
  }
}

@media (min-width: 1080px) and (max-width: 1440px) {
  .startCard {
    padding: 84px 108px;
  }

  .pillBtn,
  .startBtn,
  .settingsBtn,
  .closeBtn {
    font-size: 16px;
  }

  .startTitle {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 50px;
    margin: 0;
  }

  .startCard {
    padding: 54px 38px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 30px;
    font-size: 32px;
  }

  .controlsImg {
    width: 380px;
    height: 260px;
  }

  .controlsGrid {
    margin-top: 20px;
  }

  .settingsActions {
    margin-top: 50px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 40px;
    font-size: 38px;
  }

  input[type="checkbox" i] {
    transform: scale(2.2);
  }

  canvas {
    background-color: black;
    width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .startCard {
    padding: 84px 108px;
  }

  .pillBtn,
  .startBtn,
  .settingsBtn,
  .closeBtn {
    font-size: 16px;
  }

  .startTitle {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 5px;
  }

  .startCard {
    padding: 54px 38px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 30px;
    font-size: 32px;
  }

  .controlsImg {
    width: 370px;
    height: 260px;
  }

  .controlsGrid {
    margin-top: 20px;
  }

  .settingsActions {
    margin-top: 50px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 40px;
    font-size: 38px;
  }

  input[type="checkbox" i] {
    transform: scale(2.2);
  }

  canvas {
    background-color: black;
    width: 760px;
    height: 500px;
  }
}

@media (min-width: 610px) and (max-width: 768px) {
  .startCard {
    padding: 84px 108px;
  }

  .pillBtn,
  .startBtn,
  .settingsBtn,
  .closeBtn {
    font-size: 16px;
  }

  .startTitle {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 5px;
  }

  .startCard {
    padding: 54px 38px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 30px;
    font-size: 32px;
  }

  .controlsImg {
    width: 370px;
    height: 260px;
  }

  .controlsGrid {
    margin-top: 20px;
  }

  .settingsActions {
    margin-top: 50px;
  }

  .startCard.settingsOpen .settingsPanel {
    margin-top: 0px;
    padding: 40px;
    font-size: 38px;
  }

  input[type="checkbox" i] {
    transform: scale(2.2);
  }

  canvas {
    background-color: black;
    width: 600px;
    height: 450px;
  }
}
