@media (min-width: 768px) and (max-width: 3680px) {
  .controlsGrid {
    margin-top: 20px;
  }

  .settingsActions {
    margin-top: 50px;
  }
}

@media (min-width: 900px) and (max-width: 1960px) {
  .controlsImg {
    width: clamp(400px, calc(261.5px + 9.615vw), 450px);
    height: clamp(250px, calc(222.3px + 1.923vw), 260px);
  }

  .startCard.settingsOpen .settingsPanel {
    font-size: 28px;
  }

  input[type="checkbox" i] {
    transform: scale(1.8);
  }
}
